// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

// General CSS

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --main-color: #191b1f;
  --secondary-color: #0d1116;
  --third-color: #2e2f36;
  --text-color: #dcdde4;
  --accent-color: #f5a747;
  --sidebar-width: $sidebar-width;
  background-color: var(--main-color);
  color: var(--text-color);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--main-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

*::-webkit-scrollbar-button {
  display: none;
}

input, select, textarea{
  color: var(--text-color);
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

// Variables

$sidebar-width: 400px;
$app-margin: 10px;

// Components

.title {
  font-weight: 600;
  color: var(--text-color);
}

.widget {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--third-color);
  padding: 15px;
  margin: 5px;
}

.sidebar {
  width: $sidebar-width;
  background-color: var(--secondary-color);
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.application {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: $app-margin;
  margin-top: $app-margin;
  margin-bottom: $app-margin;
  height: calc(100vh - #{$app-margin * 2});
  width: 100vw;
}

// Main content (routerview)

.main-content-wrapper {
  position: relative;
  background-color: var(--main-color);
  height: 100%;
  width: calc(100% - $sidebar-width);
  min-width: 500px;
  overflow: hidden;
  padding: 10px;
}

.main-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
